@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-image: url("/images/sscp-bk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Header */

header {
  text-align: center;
  padding: 20px 0;
}

.logo img {
  width: 200px;
  height: auto;
}

nav {
  margin-top: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #e4405f;
}

a:hover {
  color: #e4405f;
}

/* Section */

.about {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.news h2 {
  font-size: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.cast h2 {
  font-size: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.story h2 {
  font-size: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.titles h2 {
  font-size: 35px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  text-align: center;
  padding: 20px 0;
}

p {
  padding: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.icons .icon {
  position: relative;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .icon:hover {
  color: #fff; /* Título do Ícone */
}

a {
  color: #fff;
  text-decoration: none;
}

/* Tooltip */
.icons .tooltip {
  position: absolute;
  top: -45px;
  font-size: 0.875rem;
  background: #fff;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}

.icons .tooltip::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.icons .icon:hover .tooltip {
  opacity: 1;
  top: -40px;
}

.iconCentralizado {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cor de fundo do ícone */

.icons .facebook:hover {
  background: #1877f2;
}

.icons .instagram:hover {
  background: #e4405f;
}

.icons .linkedin:hover {
  background: #0177b5;
}

.icons .x:hover {
  background: #000;
}

.icons .youtube:hover {
  background: #ff0000;
}

/* -------------------- */
